:root {
    --bg-color: #333848;
    --bg-color2: #393d4b;
    --bg-color3: #27161d;
    --color-active: #ff6d27;
    --color-text: #fafafa;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
}

.layout {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-text);
    min-height: 100dvh;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--bg-color), var(--bg-color3), var(--bg-color2));
    padding: 6rem;
}

.app__layout {
    max-width: 7280px;
    min-height: calc(100dvh - 12rem);
    height: 100%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.top__layout {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top__logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.search__bar {
    position: relative;
}



.seach__logo {
    position: relative;
}

.search__input {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    text-align: left;
    padding: 0rem 5rem;
    color: white;
    font-size: 1.6rem;
}


.search__img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem 1rem;
}

.user__logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}

.user__logo-active {
    background-color: var(--color-active);
}

.user__img {
    width: 30px;
    height: 30px;
}

.user__img-active {

    border-radius: 100%;
    width: 40px;
    height: 40px;

}

.user__text {
    color: var(--color-text);
    font-size: 1.7rem;
}

.center__layout {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 0rem 4rem;
}

.center__menu {
    display: flex;
    flex-basis: 2;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 350px;
}

.center__game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1;
    width: 100%;
    height: 100%;   
}

.game-img__container{
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.game__label {
    position: absolute;
    top: 15px;
    left: calc(50% - 40px);
    border-radius: 20px;
    font-size: 1.8rem;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
}

.game__img {
    width: 100%;
    height: 100%;
}

.menu__list{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 3rem 0rem;
}

.menu__item {
    font-size:2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0rem 1rem;
    cursor: pointer;
    width: 100%;
}

.menu__item--active {
    position: relative;
  color: var(--color-active);
}

.menu__item--active::after {
    position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    width: 6px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-active);
}

.menu__icon {
    width: 30px;
    height: 30px;
}

.bottom__layout {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    gap: 0rem 4rem;
}

.bottom-img__container{
    width: 180px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.bottom__img {
    width: 100%;
    height: 100%;
}

.bottom__game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem 2rem;
    flex-basis: 1;
    width: 100%;
    height: 100%;   
}



@media (max-width: 1280px) {
    .bottom__game {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem 2rem;
    }

    .center__menu {
        position: absolute;
        flex-basis: 0;
        opacity: 0;
        pointer-events: none;
    }

}