:root {
    --bg-color: #333848;
    --bg-color2: #393d4b;
    --bg-color3: #27161d;
    --color-active: #ff6d27;
    --color-active-a: #ff6b27a8;
    --color-text: #fafafa;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
}

.layout {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-text);
    min-height: 100dvh;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, var(--bg-color), var(--bg-color3), var(--bg-color2));
    padding: 6rem;
}

.app__layout {
    max-width: 1280px;
    min-height: calc(100dvh - 12rem);
    height: 100%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: grid;
    grid-template-areas: 
    "menu search user"
    "menu game game"
    "menu game game";
    grid-template-columns: 280px 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

.menu__layout {
    width: 100%;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem;
}

.search__layout {
    grid-area: search;
  
}

.user__layout {
    grid-area: user;
   
}

.game__layout {
    width: 100%;
    height: 100%;
    grid-area: game;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.top__logo {
    width: 50px;
    height: 50px;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.center__menu {
    width: 100%;
    padding: 0rem 5rem;
    padding-bottom: 2rem;
}

.menu__list {
    width: 100%;
}

.menu__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1.9rem;
    gap: 0rem 1rem;
}

.menu__item--active {
    color: #ff6d27;
    position: relative;
}

.menu__item--active::after {
    position: absolute;
    content: "";
    top: 5px;
    left: -20px;
    background-color: var(--color-active);
    height: 40px;
    width: 10px;
}

.menu__icon {
    width: 50px;
    height: 50px;
}

.search__layout {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search__logo {
    position: relative;
  
}

.search__input {
    border: none;
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--color-text);
    padding-left: 5rem;
    font-size: 1.8rem;
}

.search__img {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 25px;
    height: 25px;
}

.user__layout { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0rem 4rem;
}


.user__logo {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.user__logo-active {
    background-color: var(--color-active);
}

.user__img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.center__game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-img__container {
    position: relative;
}

.game__label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.8rem;
    background-color: var(--color-active-a);
    padding: 1rem;
    border-radius: 20px;
}

.game__img {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.bottom__game {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}

.bottom__img {
    border-radius: 20px;
}

.menu__responsive {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
}

@media (max-width: 1280px) {
    .layout {
        min-height: 100%;
        height: 100%;
    }

    .app__layout {
        grid-template-areas: 
        "menu menu"
        "search user"
        "game game"
        "game game";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 100px 1fr 1fr;
        min-height: 100%;
    } 

    .menu__list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .search__layout {
       margin-top: 1rem;
    }

    .user__layout {
        margin-top: 1rem;
    }

    .game__layout {
        margin-top: 5rem;
        margin-bottom:12rem;
    }
}

@media  (max-width: 1024px) {

    .menu__item {
        width: 100%;
        flex-basis: 1;
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        gap: 1rem;
    }

    
}


@media  (max-width: 768px) {


    
}